<div class='panel panel-primary'>
    <div class='panel-heading'>
        Books
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div style="padding-bottom:10px"><button class="btn btn-primary" (click)="addBook()">Add</button></div>
            <div>
                <!--ADD FILTER ELEMENT-->
                <search-publisher-list [title]='searchTitle' (change)="criteriaChange($event)"></search-publisher-list>
            </div>
            <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>
            <div *ngIf='books && books.length==0' class="alert alert-info" role="alert">No record found!</div>            
            <table class='table table-striped' *ngIf='books && books.length'>
                
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Author</th>
                        <th>Publisher</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of books | bookPublisherFilter:listFilter">
                        <td>{{book.Name}}</td>
                        <td>{{book.Author}}</td>
                        <td>{{book.Publisher}}</td>
                        <td>{{book.Price}}</td>
                        <td>
                            <button title="Edit" class="btn btn-primary" (click)="editBook(book.Id)">Edit</button>
                            <button title="Show" class="btn btn-primary" (click)="readBook(book.Id)">Show</button>
                            <button title="Delete" class="btn btn-danger" (click)="deleteBook(book.Id)">Delete</button>        
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
            </div>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>

<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(bookFrm)" [formGroup]="bookFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>

            <div class="form-group">
                <div>
                    <span>Name</span>
                    <input type="text" class="form-control" placeholder="Name" formControlName="Name">
                </div>
                <div>
                    <span>Author</span>
                    <input type="text" class="form-control" placeholder="Author" formControlName="Author">
                </div>
                <div>
                    <span>Publisher</span>
                    <input type="text" class="form-control" placeholder="Publisher" formControlName="Publisher">
                </div>
                <div>
                    <span>Price</span>
                    <input type="text" class="form-control" placeholder="Price" formControlName="Price">
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancel</a>
                <button type="submit" [disabled]="bookFrm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
            </div>
        </modal-footer>
    </form>
</modal>